.nav-item a,
#logOutLink {
  color: var(--lightBlue);
  text-decoration: none;
}

.nav-item a:hover,
#logOutLink:hover,
#pageTitle:hover {
  cursor: pointer;
  color: var(--white);
}

#offcanvasDarkNavbarLabel {
  color: var(--lightBlue);
  text-decoration: underline;
}

#pageTitle {
  color: var(--lightBlue);
}