.nav-item a,
#logOutLink {
  color: rgb(114, 171, 250);
  text-decoration: none;
}

.nav-item a:hover,
#logOutLink:hover {
  cursor: pointer;
  color: white;
}

#offcanvasDarkNavbarLabel {
  color: rgb(114, 157, 250);
  text-decoration: underline;
}

#pageTitle {
  color: rgb(114, 134, 250);
}