.mainContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 2vw;
}

.profileContainer {
    background: var(--lightPurple);
    width: 46vw;
    text-align: center;
    min-height: 60vh;
    border-radius: 30px;
}

.logo {
    height: 25px;
    filter: invert(1) brightness(500%);

}

.logo:hover {
    filter: invert(0);
    cursor: pointer;
}

.quizLink {
    color: black;
    text-decoration: none;
    min-width: 100%;
    padding-right: 0;
}

.quizLink:hover {
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 900px) {
    .mainContainer{
        justify-content: center;
    }
    .profileContainer{
        margin-bottom: 50px;
        width: 80%;
    }
}