/* 
  .auth-form-container {
    /* background: linear-gradient(to bottom right,pink, #0072ff);
   */

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  height: 59vh;
  background: linear-gradient(135deg, #007bff, #7f00ff);
  margin-top: 80px;
  border-radius: 22px ;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #007bff;
  }
  
  .login-label {
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
    font-family: 'sans-serif';
  }
  
  .login-input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 16px;
  }
  
  .link-button[type="submit"][type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button[type="submit"]:hover[type="submit"]:hover {
    background: purple;
  }
  
  .link-button{
    margin-top: 20px;
    padding: 4.8px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 27px;
  }
  
  .login-form{
    display: flex;
    flex-direction: column;
  }

  body {
    background-color: linear-gradient(135deg,purple, #ab66ef);
  } */
 
* {
  font-family:'Times New Roman', Times, serif;
}

  .auth-form-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 400px;
    height: 60vh;
    background: linear-gradient(135deg, #376088, pink);
    margin-top: 80px;
    border-radius: 22px;
    border-top: 22px;
    padding-bottom: 30px;
    }
    
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: #007bff;
    }
    
    .login-label {
      font-weight: bold;
      margin-top: 20px;
      /* text-align: left; */
      margin-right: 200px;
      
    }

    .login-label-p {
      margin-right: 227px;
      font-weight: bold;

    }
    
    .login-input {
      margin: 10px 0;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 300px;
      font-size: 16px;
      text-align: left;
      
    }
    
    .login-button[type="submit"] {
      margin-top: 100px;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      margin: 10px;
      margin-bottom: 50px;
      margin-top: 10px;
    }
    
    .login-button[type="submit"]:hover {
      background-color: rgb(76, 0, 51);
    }
    
    .link-button{
      margin-top: 20px;
      padding: 4.8px;
      cursor: pointer;
      align-items: center;
      margin-bottom: 27px;
      border-radius: 50px;
    }
    
    /* .login-form{
      display: flex;
      flex-direction: column;
    } */
  
    .login-h2{
      margin-top: 30px;
      padding-bottom: 5px;
      margin-top: 45px;
      font-weight: bold;
    
    }
    /* .login-body { */
      /* background: linear-gradient( #7c99b8, #7e4ab2, rgb(160, 135, 160)); */
      /* background-color: linear-gradient(to bottom right,pink, #0072ff); */
      /* border: #0072ff;
      border-style: hidden; */
      
    /* } */
    
  