* {
  font-family:'Times New Roman', Times, serif;
}
   .auth-form-container {
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  height: 100vh;
  background: linear-gradient(135deg, var(--dullBlue), var(--lightPink));
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 22px;
  border-top: 22px;
  padding-bottom: 30px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--coolBlue);
  }
  
  .register-label {
    font-weight: bold;
    margin-top: 20px;
    /* text-align: left; */
    margin-right: 200px;
    font-family: 'sans-serif';
  }
  
  .register-input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--lightGray);
    width: 300px;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  .register-button[type="submit"][type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--coolBlue);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 50px;
  }
  
  .register-button[type="submit"]:hover {
    background-color: var(--magenta);
  }
  
  .link-button{
    margin-top: 20px;
    padding: 4.8px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 27px;
    border-radius: 50px;
    border-style: hidden;
    background-color: var(--lightGray);

  }
  .link-button:hover{
    background-color: var(--darkerLightGray);

  }
  
  .register-form{
    display: flex;
    flex-direction: column;
  }

  .register-h2{
    font-family: sans-serif;
    margin-top: 30px;
    padding-bottom: 5px;
    margin-top: 4px;
    font-weight: bold;
    padding-top: 40px;
  }
  .register-body {
    /* background: linear-gradient( #7c99b8, #7e4ab2, rgb(160, 135, 160)); */
    background-color: linear-gradient(to bottom right,var(--lightPink), var(--coolBlue));
    border: var(--coolBlue);
    border-style: hidden;
    
  }
  