.quizInfoContainer {
    background: salmon;
    margin: 0 50px;
    padding: 0 50px;
    border-radius: 40px;
}

#quizTitleContainer{
    display: flex;
    justify-content: center;
}

.quizTitle {
    width: 50%;
}

#quizDescription {
    height: 100px;
}

.myError {
    color: red;
}

.questionInput {

}

#oneQuestionContainer {
    display: flex;
}