.welcomeInfo {
    text-align: center;
    margin: 30px calc(30vw - 50px);
    border-style: hidden;
    border-radius: 20px;

    padding: 20px;
    background-color: var(--lightPurple) ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
/* 
.welcomeInfo:hover {
    color: aliceblue;
} */

#homeMain {
    min-height: 40vh;
    margin: 0 5vw;
    width: 90vw;
    background-color: var(--lightPurple);
    border-radius: 40px;
}

.myOverlay {
    opacity: 0;
}

.myOverlay:hover {
    background-color: var(--purple);
    color: var(--white);
    opacity: 0.9;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .customCard {
        width: 40% !important;
    }
}

@media screen and (max-width: 575px) {
    .customCard {
        width: 100% !important;
    }
}