*{
    font-family: 'Times New Roman', Times, serif;
}.welcomeInfo {
    text-align: center;
    margin: 30px calc(30vw - 50px);
    border-style: hidden;
    border-radius: 20px;

    padding: 20px;
    background-color: rgba(181, 52, 188, 0.439) ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.welcomeInfo:hover {
    color: aliceblue;
}


#homeMain {
    height: max-content;
    margin: 0 5vw;
    width: 90vw;
    background-color: rgba(181, 52, 188, 0.439) ;
    border-radius: 40px;
}

.myOverlay {
    opacity: 0;
}

.myOverlay:hover {
    background-color: purple;
    color: whitesmoke;
    opacity: 0.9;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .customCard {
        width: 40% !important;
    }
}

@media screen and (max-width: 575px) {
    .customCard {
        width: 100% !important;
    }
}