.welcomeInfo {
    text-align: center;
    margin: 30px calc(30vw - 50px);
}

#homeMain {
    height: max-content;
    margin: 0 5vw;
    width: 90vw;
    background-color: salmon;
    border-radius: 40px;
}

.myOverlay {
    opacity: 0;
}

.myOverlay:hover {
    background-color: white;
    color: black;
    opacity: 0.9;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .customCard {
        width: 40% !important;
    }
}

@media screen and (max-width: 575px) {
    .customCard {
        width: 100% !important;
    }
}