
.footer {
    background-color: rgb(114, 182, 250);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
  }

  .footer:hover {
    background-color: rgb(160, 66, 160);
    color: aliceblue;
  }