
.footer {
    background-color: var(--darkGray);
    color: var(--lightBlue);
    text-align: center; 
  }

#donationLink {
  width: fit-content;
}

#donationLink:hover {
  cursor: pointer;
  color: var(--white);
}

/* .footer:hover {
  background-color: rgb(160, 66, 160);
  color: aliceblue;
} */