
.footer {
    background-color: rgb(114, 182, 250);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
  }

#donationLink {
  font-weight: bolder;
}


#donationLink:hover {
  cursor: pointer;
  color: white;
}

#donationLink:hover {
  cursor: pointer;
  color: white;
}
  .footer:hover {
    background-color: rgb(160, 66, 160);
    color: aliceblue;
  }